body{
  background-color: #1D65A6;
}
#container {
  display: grid;
}

header {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

header h1 {
  margin-left: 5%;
  margin-right: 25%;
  font-size: 56px;
  color: #F2A104;
}

nav a{
  text-decoration: none;
  margin-left: 50px;
  font-size: 26px;
  color: #F2A104;

}

#profile-section{
  margin-right: 10%;
}

.profile-card {
  width: 70%;
  height: 250px;
  background-color: #72A2C0;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 25%;
  border-radius: 60%;
  border-radius: 60%;
}

.profile-card article{
  margin-top: 4%;
  margin-right: 10%;
}

.profile-card h2{
  /* color: #007434; */
  color: #1D65A6;
  font-size: 36px;
  font-weight: bold;
}
.profile-card p{
  color: #007434;
  margin-top: 2%;
}

.profile-img {
  width: 15%;
  height: 70%;
  margin: 3%;
  border-radius: 60px;
  margin-left: 13%;
  margin-top: 4%;

}

i.fab.fa-github{
  color: black;
  font-size: 40px;
  margin-right: 30%;
}

i.fab.fa-linkedin{
  color:black;
  font-size: 40px;
}


.profile-card article {
  margin-top: 7%;
}

.profile-card article p {
  margin-bottom: 35px;
}

.profile-card article figure {
  margin-left: 25%;
}

.profile-card article img {
  margin-left: 10px;
}

footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;  
  background-color: whitesmoke;
}

footer img{
  margin-left: 50%;
  align-items: center;
  width: 50%;
  border-radius: 40%;
}

footer a{
  margin-right: 25%;
}

a:hover{
  color: #007434;

}
