body{
  background-color: #1D65A6;
}

#home{
  font-style: italic;
}

header {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

header h1 {
  margin-left: 5%;
  margin-right: 25%;
  font-size: 72px;
  color: #F2A104;
}

nav a{
  text-decoration: none;
  margin-left: 50px;
  color: #F2A104;
  font-size: 48px;
}

a:hover{
  color: #007434;
}

#matchGameSummary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1% 10%;
  background-color: #72A2C0;
  border-radius: 40%;
  height: 350px;
  width: 55%;
  margin-left: 23%;
}

#matchGameSummary img{
  padding-top: 10%;
  height: 200%;
  width: 250%;
}

#card-section {
  width: 300px;
  height: 300px;
  display: inline-block;
  position: absolute;
  top: 120px;
  right: 35px;
}

#index-card{
  background-color: transparent;
  width: 150px;
  height: 100px;
  perspective: 1000px;
}

.index-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: card-rotate 2s both infinite;
}

.index-flip-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.index-flip-card-back{
  background: whitesmoke;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}

.index-flip-card-front{
  background: url('https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif');
}

@keyframes card-rotate{
  0% {
    transform: rotateY(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

#matchGameSummary h2{
  color:#1D65A6;
  font-size: 76px;
  margin-left: 25%;
}

#matchGameSummary article {
  margin-left: 10%;
  margin-top: 3%;
}

#matchGameSummary article li {
  font-size: 52px;
}

#matchGameSummary article p {
  font-size: 36px;
  color: whitesmoke;
}

#gameOptions{
  display: block;
  position: relative;
  margin: 5% 20%;
  background-color: #72A2C0;
  border-radius: 40%;
  height: 55%;
}

#gameOptions h3{
  margin: 3% 30%;
}

#difficulty{
  margin-left: 30%;
  margin-bottom: 5%;
}

#topic{
  margin-left: 30%;
  margin-bottom: 5%;
}


#gameStart {
  display: flex;
  justify-content: center;
  margin: 3%;
}

#gameStart button{
  background-color: #72A2C0;
  color: #F2A104;
  height: 120px;
  width: 350%;
  border-radius: 50%;
  font-size: 30px;
  margin-left: -130%;
  margin-top: -150%;
}

footer {
  height: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;  
  background-color: whitesmoke;
  margin-top: 50px;
}

footer a{
  margin-right: 25%;
}

footer img{
  margin-left: 50%;
  align-items: center;
  width: 80%;
  border-radius: 40%;
  margin-top: 2%;
}

i.fab.fa-github{
  color: black;
  font-size: 90px;
}

#resultsList {
  display: inline-block;
  margin-right: 10%;
}

#results {
  display: inline-block;
  width: 230px;
  height: 400px;
  padding-left: 5px;
  background-color: #72A2C0;
  margin-left: 40px;
  color: whitesmoke;
  font-size: 20px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  border-radius: 15px;
}

#results h2{
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}

#results ol {
  padding-left: 10px;
  margin-top: 5px;
}

#results li {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 2px;
}

#graph {
  height: auto;
  width: 600px;
  display: inline-block;
}

Canvas {
  background-color: #72A2C0;
  border-radius: 15px;
}

/* Responsive Screen Size CSS Rules */

@media screen and (max-width: 700px) {
  body {
    background-color: pink;
  }

  #matchGameSummary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10% 20%;
    background-color: #72A2C0;
    border-radius: 40%;
    height: 85%;
    width: 75%; 
  }

  #matchGameSummary h2 {
    margin: 10% 10%;
    color: #1D65A6;
    font-size: 36px;
  }
}

#results {
  display: inline-block;
  width: 200px;
  height: 450px;
  margin-right: 10%;
  background-color: #72A2C0;
  margin-left: 640px;
  color: whitesmoke;
  font-size: 20px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
